.clear {
    clear: both;
}
header {
    max-width: 100%;
    height: 640px;
    background-color: white;
    text-align: center;
}
#headpicture {
    margin: 0 auto;
    display: inline-block;
}
main {
    width: 100%;
    height: 3100px;
    background-color: white;
    display: inline-block;
}
.introtext p {
    margin: 0 auto;
    width: 750px;
    text-align: center;
    margin-top: 50px;
    font-size: 1.4em;
    line-height: 40px;
    font-weight: bold;
}
.green {
    color: darkgreen;
}
#accordion {
    width: 900px;
    margin: 0 auto;
    margin-top: 50px;
}
.ui-accordion .ui-accordion-header-active {
    color: darkgreen;
}
.middletext p {
    margin: 0 auto;
    width: 950px;
    text-align: center;
    margin-top: 50px;
    font-size: 1em;
    line-height: 30px;
}
h2 {
    margin: 0 auto;
    margin-top: 80px;
    text-align: center;
    font-size: 1.5em;
    color: darkgreen;
}
#gallery {
    width: 630px;
    margin: 0 auto;
    height: 900px;
    margin-top: 50px;
    position: relative;
}
footer {
    background-color: white;
    width: 100%;
    height: 900px;
    margin-top: -80px;
    margin-bottom: 100px;
}
  .container {
      position: relative;
    width: 200px;
    float: left;
    margin-right: 10px;
    height: 300px;
  }
  .overlay {
      position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 265px;
    width: 200px;
    opacity: 0;
    transition: .5s ease;
    background-color: darkgreen;
  }
  .container:hover .overlay {
    opacity: 1;
  }
  .text {
    color: white;
    font-size: 0.6em;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  #tabs {
    width: 900px;
    margin: 0 auto;
    margin-top: 50px;
    height: 600px;
  }
    div#tabs .ui-state-active {
      background-color: darkgreen;
  }
  .video-js {
      margin: 0 auto;
  }
  #sound {
      width: 300px;
      height: 40px;
      color: white;
      margin: 0 auto;
      text-align:center;
      margin-top: 35px;
      display: block;
  }
  #sound p {
      color: black;
  }
  #themesound {
      height: 30px;
      margin: 0 auto;
      display: none;
      margin-top: 70px;
      width: 280px;
  }
  #toggle {
    width: 280px;
    height: 30px;
    border-radius: 60%;
    background: #ccc;
    margin: 0 auto;
    display: none;
    margin-top: 50px;
    margin: 0 auto;
  }
  
  @media only screen and (max-width:768px) {
    header {
        max-width: 760px;
    }
    main {
        width: 100%;
    }
    body {
        max-width: 100%;
    }
    .introtext p {
        width: 450px;
        font-size: 1em;
        margin-top: -200px;
    }
    #accordion {
        width: 550px; 
    }
    h2 {
        font-size: 1.4em;
    }
    #gallery {
        width: 420px;
        height: 1500px;
    }
    .container {
        display: block;
    }
    footer {
        margin-top: 900px;
    }
      .text {
        font-size: 0.3em;
      }
      #tabs {
        width: 550px;
        height: 400px;
      }
      .video-js {
          width: 400px;
          height: 250px;
      }
      .middletext p{
        width: 550px;
    }
  }
  @media only screen and (max-width:480px) {
    /* For mobile phones: */
    header {
        max-width: 100%;
        height: 500px;
    }
    main {
        width: 100%;
    }
    body {
        max-width: 100%;
    }
    .introtext p {
        width: 250px;
        font-size: 0.8em;
    }
    #accordion {
        width: 350px; 
    }
    h2 {
        font-size: 1em;
    }
    #gallery {
        width: 220px;
        height: 1500px;
    }
    .container {
        display: block;
    }
    footer {
        margin-top: 2800px;
    }
      .text {
        font-size: 0.3em;
      }
      #tabs {
        width: 250px;
        height: 400px;
      }
      .video-js {
          width: 200px;
          height: 150px;
      }
      .middletext p{
        width: 250px;
    }
  }

