.clear {
    clear: both;
}
header {
    max-width: 100%;
    height: 640px;
    background-color: white;
    text-align: center;
}
#headpicture {
    margin: 0 auto;
    display: inline-block;
}
main {
    width: 100%;
    height: 3100px;
    background-color: white;
    display: inline-block;
}
.introtext p {
    margin: 0 auto;
    width: 750px;
    text-align: center;
    margin-top: 50px;
    font-size: 1.4em;
    line-height: 40px;
    font-weight: bold;
}
.green {
    color: darkgreen;
}
#accordion {
    width: 900px;
    margin: 0 auto;
    margin-top: 50px;
}
.ui-accordion .ui-accordion-header-active {
    color: darkgreen;
}
.p1 {
    margin: 0 auto;
    width: 950px;
    text-align: center;
    margin-top: 50px;
    font-size: 1em;
    line-height: 30px;
}
h2 {
    margin: 0 auto;
    margin-top: 80px;
    text-align: center;
    font-size: 1.5em;
    color: darkgreen;
}
#gallery {
    width: 950px;
    margin: 0 auto;
    height: 1000px;
    margin-top: 50px;
    position: relative;
}
footer {
    background-color: white;
    width: 100%;
    height: 1000px;
    margin-top: -80px;
}
  .container {
    position: relative;
    width: 50%;
  }
  #container2 {
      margin-left: 38%;
      margin-top: -309px;
  }
  #container3 {
    margin-top: -308px;
    margin-left: 76%;
}
#container5 {
    margin-top: -310px;
    margin-left: 38%;
}
#container6{
    margin-top: -310px;
    margin-left: 76%;
}
#container8{
    margin-top: -306px;
    margin-left: 38%;
}
#container9 {
    margin-top: -309px;
    margin-left: 76%;
}
  /* .image {
    display: block;
    width: 100%;
    height: auto;
  } */
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 230px;
    opacity: 0;
    transition: .5s ease;
    background-color: darkgreen;
  }
  .container:hover .overlay {
    opacity: 1;
  }
  .text {
    color: white;
    font-size: 0.6em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  #tabs {
    width: 900px;
    margin: 0 auto;
    margin-top: 50px;
    height: 600px;
  }
    div#tabs .ui-state-active {
      background-color: darkgreen;
  }
  .video-js {
      margin: 0 auto;
  }
  #sound {
      width: 300px;
      height: 40px;
      color: white;
      margin: 0 auto;
      text-align:center;
      margin-top: 35px;
      display: block;
  }
  #sound p {
      color: black;
  }
  #themesound {
      height: 30px;
      margin: 0 auto;
      display: none;
      margin-top: 70px;
      width: 280px;
  }
  #toggle {
    width: 280px;
    height: 30px;
    border-radius: 60%;
    background: #ccc;
    margin: 0 auto;
    display: none;
    margin-top: 50px;
    margin: 0 auto;
  }
  @media only screen and (max-width:480px) {
    /* For mobile phones: */
    header, body, main, footer {
      width: 400px;
    }
    header {
        height: 300px;
        width: 300px;
    }
    #headpicture {
        width: 375px;
        height: 300px;
        margin-left: 0;
    }
    .introtext p {
        width: 350px;
        margin-top: 50px;
        font-size: 1em;
        margin-left: 0;
    }
    #accordion {
        width: 300px;
        margin: 0 auto;
        margin-left: 0;

    }
    .p1 {
        width: 280px;
        margin-left: 0;

    }
    #gallery {
        width: 300px;
        display: block;
        float: left;        
    }
    #tabs {
        width: 200px;
        margin-left: 0;

    }
    .video-js {
        width: 300px;
        margin-left: 0;

    }
    main {
        height: 5000px;
        margin-left: 0;

    }
    #sound {
        margin-left: 0;
    }
    body{
        width: 400px;
        margin-left: 0;
    }
  }

  @media only screen and (max-width:768px) {
    header {
        max-width: 575px;
    }
    main {
        width: 768px;
    }
    body {
        max-width: 700px;
    }
    .introtext p {
        margin: 0 auto;
        width: 450px;
        margin-left: 75px;
        margin-top: -300px;
        font-size: 1em;
    }
    #accordion {
        width: 450px;
        margin-left: 75px;
    }
    .p1 {
        margin-left: 75px;
        width: 450px;  
    }
    h2 {
        font-size: 1.4em;
        margin-left: 240px;
        width: 100px;
    }
    #gallery {
        width: 450px;
        height: 1000px;
        margin-left: 75px;
    }
    footer {
        background-color: white;
        width: 700px;
        height: 1000px;
        margin-top: -80px;
    }
.container {
        width: 25%;
        margin-top: 300px;
      }
      #container2 {
          margin-left: 38%;
          margin-top: -309px;
      }
      #container3 {
        margin-top: -308px;
        margin-left: 76%;
    }
    #container5 {
        margin-top: -310px;
        margin-left: 38%;
    }
    #container6{
        margin-top: -310px;
        margin-left: 76%;
    }
    #container8{
        margin-top: -306px;
        margin-left: 38%;
    }
    #container9 {
        margin-top: -309px;
        margin-left: 76%;
    }
      /* .image {
        display: block;
        width: 100%;
        height: auto;
      } */
      .overlay {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 230px;
        opacity: 0;
        transition: .5s ease;
        background-color: darkgreen;
      }
      .text {
        font-size: 0.3em;
      }
      #tabs {
        width: 450px;
        margin-left: 75px;
        height: 400px;
      }
      .video-js {
          margin: 0 auto;
          width: 400px;
          height: 250px;
      }
      #sound {
         margin-left: 150px;
      }
  }
