.clear {
    clear: both;
}
header {
    max-width: 100%;
    height: 640px;
    background-color: darkgreen;
    text-align: center;
}
#headpicture {
    margin: 0 auto;
    display: inline-block;
}
main {
    width: 100%;
    height: 3100px;
    background-color: pink;
    display: inline-block;
}
.introtext p {
    margin: 0 auto;
    width: 750px;
    text-align: center;
    margin-top: 50px;
    font-size: 1.4em;
    line-height: 40px;
    font-weight: bold;
}
.green {
    color: darkgreen;
}
#accordion {
    width: 900px;
    margin: 0 auto;
    margin-top: 50px;
}
.ui-accordion .ui-accordion-header-active {
    background-color: darkgreen;
}
.p1 {
    margin: 0 auto;
    width: 950px;
    text-align: center;
    margin-top: 50px;
    font-size: 1em;
    line-height: 30px;
}
h2 {
    margin: 0 auto;
    margin-top: 80px;
    text-align: center;
    font-size: 1.5em;
}
#gallery {
    width: 950px;
    /* background-color: red; */
    margin: 0 auto;
    height: 1000px;
    margin-top: 50px;
    position: relative;
}
footer {
    background-color: blueviolet;
    width: 100%;
    height: 1000px;
    margin-top: -80px;
}
  .container {
    position: relative;
    width: 50%;
  }
  #container2 {
      margin-left: 38%;
      margin-top: -309px;
  }
  #container3 {
    margin-top: -308px;
    margin-left: 76%;
}
#container5 {
    margin-top: -310px;
    margin-left: 38%;
}
#container6{
    margin-top: -310px;
    margin-left: 76%;
}
#container8{
    margin-top: -306px;
    margin-left: 38%;
}
#container9 {
    margin-top: -309px;
    margin-left: 76%;
}
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 230px;
    opacity: 0;
    transition: .5s ease;
    background-color: darkgreen;
  }
  .container:hover .overlay {
    opacity: 1;
  }
  .text {
    color: white;
    font-size: 0.6em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  #tabs {
    width: 900px;
    margin: 0 auto;
    margin-top: 50px;
    height: 600px;
  }
  .video-js {
      margin: 0 auto;
  }